
@media (max-width: 1366px) {
	.productlist-bg .filtering-main .filtering-box .colors-main .color-box {margin: 10px 8%;}
}

@media (max-width: 1280px) {
	.productlist-bg .filtering-main .filtering-box .colors-main .color-box {margin: 10px 7%;}
}

@media (max-width: 1024px) {
	header.navbar {padding:0 12px;}
	header.navbar .navbar-collapse .navbar-nav li a {padding: 17px 13px;}

	.feedback-bg {background-size: 80% auto;}
	.feedback-bg .carousel-control-prev {left: -20px;}
	.feedback-bg .carousel-control-next {right: -20px;}

	.filtering-button {position: fixed; right: 30px; bottom: 30px; width: 40px; height: 40px; background: #03a9f4; border-radius: 50%; box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5); text-align: center; color: #fff; line-height: 40px; font-size: 18px; z-index: 9; text-decoration: none; transition: all 0.5s; transform: rotate(0deg);}
	.filtering-button.open {transform: rotate(45deg);}
	.filtering-button:hover, .filtering-button:focus {color: #fff; text-decoration: none;}

	.productlist-bg .filtering-main {position: fixed; left: 0px; top: 70px; bottom: 0px; z-index: 3; width:340px; transform: translateX(-100%); transition: all 0.5s; overflow: auto; min-height: inherit; padding: 0 30px;}
	.productlist-bg .filtering-main.open {transform: translateX(0);}

	.productlist-bg .filtering-main .filtering-box .tags-main li {margin: 0 1px 10px 0px;}

}

@media (max-width: 768px) {

	.main {padding-top: 65px;}
	.collapse {margin-top: 10px;}
	header.navbar {padding: 12px;}
	header.navbar .navbar-brand {padding: 4px 0;}
	header.navbar .navbar-collapse .navbar-nav.social-media {display: none;}
	
	.productlist-bg .filtering-main {top: 63px;}

	.banner-bg {padding: 30px 0px 158px;}

	.findcar-bg .findcar-box {margin-left: 0px; margin-right: 0px; padding: 20px;}
	.findcar-bg .findcar-box .car-main .car-box input + label .car-icon, .findcar-bg .findcar-box .car-main .car-box input:checked + label .car-icon {background-size: 100% auto;}

	.feedback-bg {padding: 50px 0 45px 0;}
	.feedback-bg h3 {margin: 20px 0 20px 0; padding: 0px; }
	.feedback-bg p {padding: 0px;}

	footer {padding: 30px 0 0 0;}
	footer .copyright-bg {margin: 30px 0 0 0px;}
	footer .social-media li {margin: 0 0px 0px 5px;}
	footer .navbar-nav li {padding: 0 10px 0 0;}
	footer .navbar-nav li a {font-size: 12px;}

}

@media (max-width: 767px) {
	.banner-bg h2 {font-size: 40px;}
	.findcar-bg .findcar-box .car-main .car-box input + label .car-icon, .findcar-bg .findcar-box .car-main .car-box input:checked + label .car-icon {background-size:auto;}
	.findcar-bg .findcar-box .btn.btn-link {width: 100%; display: block;}

	.whyfrom-bg {padding: 60px 0px 40px;}
	.whyfrom-bg .whyfrom-box {margin-bottom: 40px;}

	.couch-bg .step-box {margin: 0px 0 40px 0; padding: 0px;}
	.couch-bg .step-box::before {position: relative; top: 0px; font-size: 84px;}

	.feedback-bg .img img {width: 100%;}

	footer .navbar-nav {text-align: center; width: 100%; margin: 0 0 10px 0;}
	footer .navbar-nav li {width: 100%; padding: 0px;}
	footer .social-media {width: 100%; text-align: center;}
	footer .social-media li {display: inline-block; float: none; margin: 0 5px;}

	footer .copyright-bg p {margin: 0px; text-align: center; line-height: 30px;}
	footer .copyright-bg ul {width: 100%; text-align: center;}
	footer .copyright-bg ul li {display: inline-block; float: none; padding: 0 10px;}
	footer .copyright-bg ul li a {line-height: 30px;}
}

@media (max-width: 480px) {
	.productlist-bg .filtering-main {top: 60px;}
	.banner-bg h2 {font-size: 30px;}
	.couch-bg {padding: 45px 0px;}
	.couch-bg h3 {margin: 0 0 50px 0;}
	.feedback-bg {padding: 30px 0 45px 0;}
	.feedback-bg .carousel-control-prev, .feedback-bg .carousel-control-next {display: none;}
}

@media (max-width: 375px) {
	.productlist-bg .filtering-main {width: 300px;}
	.productlist-bg .filtering-main .filtering-box .colors-main .color-box {margin: 5px 5.5%;}

	.productlist-bg .filtering-main .filtering-box .car-main .car-box input + label {padding: 3px;}
	.productlist-bg .filtering-main .filtering-box .car-main .car-box input + label .car-icon, .productlist-bg .filtering-main .filtering-box .car-main .car-box input:checked + label .car-icon {background-size: 100% auto;}
}

@media (max-width: 360px) {

	.productlist-bg .filtering-main {width: 260px;}
	.productlist-bg .filtering-main .filtering-box .colors-main .color-box {margin: 5px 3.5%;}

	.findcar-bg .findcar-box .car-main .car-box input + label .car-icon, .findcar-bg .findcar-box .car-main .car-box input:checked + label .car-icon {background-size: 100% auto;}
}