body {padding: 0px; margin: 0px; font-family: 'Roboto', sans-serif; font-size: 14px; color: #000;}

select::-ms-expand {display: none;}
select {-webkit-appearance: none; -moz-appearance: none; appearance: none;}

.select {position: relative;}
.select:before {content: "\f107"; font-family: FontAwesome; position: absolute; right: 23px; top: 7px; font-size: 20px; width: 0px; height: 0px; line-height: 1; color: #03a9f4;}
.select select {border: solid 1px #b0bec5; border-radius: 0px; font-size: 16px; color: #607d8b;}

.main {float: left; width: 100%; padding-top: 70px;}


/* header */

header.navbar {float: left; width: 100%; padding: 0px 30px; background: #fff; box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);}
header.navbar .navbar-brand {float: left; width: 116px; margin: 0px 10px 0 0; padding: 20px 0px;}
header.navbar .navbar-collapse .navbar-nav li a {font-size: 14px; padding: 17px 18px; line-height: 1; font-weight: 400; color: #37474f;}
header.navbar .navbar-collapse .navbar-nav li a:hover, header.navbar .navbar-collapse .navbar-nav li.active a {color: #03a9f4;}
.navbar-light .navbar-toggler {cursor: pointer;}

header.navbar .navbar-collapse .navbar-nav.social-media {float: left; width: 150px; display: block;}
header.navbar .navbar-collapse .navbar-nav.social-media li.call {display: block; margin: 0px; float: left; width: 100%;}
header.navbar .navbar-collapse .navbar-nav.social-media li.call a { width: auto; height: auto; display: block; border-radius: 0px; background: none; font-size: 18px; color: #607d8b; text-align: right;}

header.navbar .navbar-collapse .navbar-nav.social-media li {margin: 0 0 0 8px; float: right; width: auto;}
header.navbar .navbar-collapse .navbar-nav.social-media li a {display: block; background: #03a9f4; width: 24px; height: 24px; border-radius: 50%; padding: 0px; line-height: 24px; text-align: center; color: #fff; font-size: 11px; text-decoration: none;}


.banner-bg {float: left; width: 100%; background: url(../images/banner-bg.jpg) 50% 50% no-repeat; background-size: cover; position: relative; padding: 70px 0px 198px;}
.banner-bg:before {content: ''; position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; background: rgba(0, 0, 0, 0.6); z-index: 0;}
.banner-bg:after {content: ''; position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; z-index: 1; background: -moz-linear-gradient(left, rgba(78,142,221,0.49) 0%, rgba(78,142,221,0.49) 100%); background: -webkit-linear-gradient(left, rgba(78,142,221,0.49) 0%,rgba(78,142,221,0.49) 100%); background: linear-gradient(to right, rgba(78,142,221,0.49) 0%,rgba(78,142,221,0.49) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d4e8edd', endColorstr='#7d4e8edd',GradientType=1 );}
.banner-bg h2 {float: left; width: 100%; font-size: 45px; color: #fff; font-weight: 900; line-height: 1; margin: 0px 0 10px; position: relative; z-index: 2; text-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);}
.banner-bg p {float: left; width: 100%; font-size: 16px; color: #fff; font-weight: 500; line-height: 1; margin: 0px 0 25px; position: relative; z-index: 2;}
.banner-bg a.btn {padding: 0px; font-size: 16px; color: #43f7c8; font-weight: 500; line-height: 1; margin: 0px 0 10px; position: relative; z-index: 2; text-decoration: underline; line-height: 1; border: 0px;}
.banner-bg span {display: block; font-size: 16px; color: #43f7c8; font-weight: 500;}


.findcar-bg {float: left; width: 100%;}
.findcar-bg .findcar-box {display: block; background: #fff; margin: 0 24px; box-shadow: 0 4px 18px rgba(0, 0, 0, .15); padding: 40px 55px 30px 55px; margin-top: -128px; position: relative; z-index: 3;}
.findcar-bg .findcar-box .car-main {display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap;}
.findcar-bg .findcar-box .car-main .car-box {-webkit-box-flex: 0; -webkit-flex: 0 0 33.333333%; -ms-flex: 0 0 33.333333%; flex: 0 0 33.333333%; max-width: 33.333333%; position: relative;}
.findcar-bg .findcar-box .car-main .car-box input {position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; width: 100%;height: 100%;
    opacity: 0;cursor: pointer;}
.findcar-bg .findcar-box .car-main .car-box input + label {display: block; border: solid 1px rgba(0, 0, 0, 0); margin: 0 5px 10px 5px; padding: 8px; cursor: pointer;}
.findcar-bg .findcar-box .car-main .car-box input + label .car-icon {display: block; height: 26px; background: url(../images/car-icon.png) 50% 50% no-repeat; margin-bottom: 8px;}
.findcar-bg .findcar-box .car-main .car-box input + label span {display: block; text-align: center; font-size: 11px; color: #607d8b; line-height: 1;}
.findcar-bg .findcar-box .car-main .car-box input:checked + label {border: solid 1px #03a9f4;}
.findcar-bg .findcar-box .car-main .car-box input:checked + label .car-icon {background: url(../images/car-icon-act.png) 50% 50% no-repeat;}
.findcar-bg .findcar-box .btn.btn-success {display: block; border-radius: 0px; margin-bottom: 15px; background: none; border: solid 1px transparent; font-size: 14px; text-transform: uppercase; color: #00c853; padding: 0.6rem 1rem;}
.findcar-bg .findcar-box .btn.btn-success:hover {border: solid 1px #00c853;}
.findcar-bg .findcar-box .btn.btn-success:last-child {margin-bottom: 0;}
.findcar-bg .findcar-box .btn.btn-link {font-size: 13px; color: #03a9f4; padding: 0; line-height: 40px; margin-top: 10px; letter-spacing: 1px; font-weight: 500;}
.findcar-bg .findcar-box .btn.btn-link span {padding: 0 10px;}
.findcar-bg .findcar-box .btn.btn-primary {font-size: 14px; color: #fff; padding: 0 25px; line-height: 40px; margin-top: 10px; text-transform: uppercase; background: #03a9f4; border-radius: 0px; border: 0px; box-shadow: 0 7px 15px rgba(3, 169, 244, 0.5); letter-spacing: 1px;}

.whyfrom-bg {float: left; width: 100%; padding: 85px 0px;}
.whyfrom-bg h3 {float: left; width: 100%; margin: 0 0 40px 0; font-size: 24px; color: #37474f; font-weight: 400; line-height: 1;}
.whyfrom-bg .whyfrom-box {float: left; width: 100%; text-align: center;}
.whyfrom-bg .whyfrom-box i {display: inline-block; width: 40px; height: 40px;}
.whyfrom-bg .whyfrom-box .focused-icon {background: url(../images/focused-icon.png) 50% 50% no-repeat;}
.whyfrom-bg .whyfrom-box .haggle-icon {background: url(../images/haggle-icon.png) 50% 50% no-repeat;}
.whyfrom-bg .whyfrom-box .confidence-icon {background: url(../images/confidence-icon.png) 50% 50% no-repeat;}
.whyfrom-bg .whyfrom-box h5 {font-size: 14px; margin: 15px 0px; color: #37474f; text-transform: uppercase; font-weight: 700;}
.whyfrom-bg .whyfrom-box p {font-size: 18px; margin: 0; color: #37474f; font-weight: 400; line-height: 30px;}

.financing-bg {float: left; width: 100%; background: #04aff5; padding: 85px 0 80px 0;}
.financing-bg h3 {float: left; width: 100%; margin: 0 0 40px 0; font-size: 24px; color: #fff; font-weight: 400; line-height: 1;}
.financing-bg .financing-box {float: left; width: 100%; text-align: center; margin-bottom: 32px;}
.financing-bg .financing-box i {display: inline-block; width: 40px; height: 40px;}
.financing-bg .financing-box .findcar-icon {background: url(../images/findcar-icon.png) 50% 50% no-repeat;}
.financing-bg .financing-box .option-icon {background: url(../images/option-icon.png) 50% 50% no-repeat;}
.financing-bg .financing-box .approved-icon {background: url(../images/approved-icon.png) 50% 50% no-repeat;}
.financing-bg .financing-box h5 {font-size: 14px; margin: 15px 0px; color: #37474f; text-transform: uppercase; font-weight: 700;}
.financing-bg .financing-box p {font-size: 18px; margin: 0; color: #fff; font-weight: 400; line-height: 30px;}
.financing-bg .btn.btn-info {font-size: 14px; margin: 0; color: #37474f; font-weight: 500; line-height: 40px; background: #43f7c8; text-transform: uppercase; padding: 0px 45px; border-radius: 0px; border: 0px; letter-spacing: 1px;}

.couch-bg {float: left; width: 100%; padding: 85px 0px;}
.couch-bg h3 {float: left; width: 100%; margin: 0 0 80px 0; font-size: 24px; color: #37474f; font-weight: 400; line-height: 1;}
.couch-bg h3 span {float: left; width: 100%; margin: 20px 0 0px 0; font-size: 18px; color: #37474f; font-weight: 400; line-height: 1;}
.couch-bg .step-box {float: left; width: 100%; margin: 0px 0 80px 0; position: relative; padding: 35px 0 0 27%;}
.couch-bg .step-box:before {content: 'STEP 1'; position: absolute; left: 0px; top: -10px; font-size: 144px; color: #9c27b0; font-weight: 900; opacity: 0.2; line-height: 0.8;}
.couch-bg .step-box:nth-child(3):before {content: 'STEP 2'; color: #2196f3;}
.couch-bg .step-box:nth-child(4):before {content: 'STEP 3'; color: #00bcd4;}
.couch-bg .step-box:nth-child(5):before {content: 'STEP 4'; color: #4caf50;}
.couch-bg .step-box:nth-child(6):before {content: 'STEP 5'; color: #4caf50;}
.couch-bg .step-box h4 {float: left; width: 100%; margin: 0px; font-size: 24px; color: #37474f; position: relative; padding:0 0 20px 0; font-weight: 900;}
.couch-bg .step-box p {float: left; width: 100%; margin: 0px; font-size: 18px; color: #37474f; position: relative; padding:0; font-weight: 400; line-height: 30px;}
.couch-bg .btn.btn-primary {font-size: 14px; color: #fff; padding: 0 25px; line-height: 40px; margin-top: 10px; text-transform: uppercase; background: #03a9f4; border-radius: 0px; border: 0px; box-shadow: 0 7px 15px rgba(3, 169, 244, 0.5); letter-spacing: 1px;}


.feedback-bg {float: left; width: 100%; background: url(../images/feedback-bg.png) right 0 no-repeat; padding: 90px 0 55px 0;}
.feedback-bg .img {float: left; width: 100%; border-radius: 5px; box-shadow: 0 0px 15px rgba(0, 0, 0, 0.5); overflow: hidden; margin:20px 0px;}
.feedback-bg h3 {float: left; width: 100%; margin: 60px 0 30px 0; padding: 0 0 0 45px; font-size: 24px; color: #37474f; font-weight: 900;}
.feedback-bg p {float: left; width: 100%; margin: 0; padding: 0 0 0 45px; font-size: 18px; color: #37474f; font-weight: 400;}
.feedback-bg .carousel-control-prev, .feedback-bg .carousel-control-next {width: auto; color: #03a9f4; font-size: 50px; font-weight: bold;}
.feedback-bg .carousel-control-prev {left: -40px;}
.feedback-bg .carousel-control-next {right: -40px;}


/* footer */

footer {float: left; width: 100%; background: #cfd8dc; padding: 60px 0 0 0;}
footer .navbar-nav {float: left; width: auto; display: block;}
footer .navbar-nav li {float: left; width: auto; padding: 0 23px 0 0;}
footer .navbar-nav li:last-child {padding: 0;}
footer .navbar-nav li a {display: block; line-height: 32px; font-size: 14px; text-transform: uppercase; color: #37474f;}
footer .social-media {float: right; width: auto; padding: 0px; margin: 0px; list-style:none;}
footer .social-media li {float: left; width: auto; margin: 0 0px 0px 8px;}
footer .social-media li a {display: block; background: #03a9f4; width: 24px; height: 24px; border-radius: 50%; padding: 0px; line-height: 24px; text-align: center; color: #fff; font-size: 11px; text-decoration: none;}
footer .copyright-bg {float: left; width: 100%; background: #607d8b; margin: 60px 0 0 0px;}
footer .copyright-bg p {font-size: 14px; font-weight: 400; color: #fff; line-height: 64px;}
footer .copyright-bg ul {float: right; width: auto; list-style: none; margin: 0px; padding: 0px;}
footer .copyright-bg ul li {float: left; width: auto; padding: 0 16px 0 0;}
footer .copyright-bg ul li a {display: block; font-size: 14px; font-weight: 400; color: #fff; line-height: 64px;}


/* product list */

.productlist-bg {float: left; width: 100%; background: #eceff1; overflow-x: hidden;}
.productlist-bg .filtering-main {background: #fff; padding: 0 15px; min-height: 100%;}
.productlist-bg .filtering-main .filtering-box {display: block; border-bottom: solid 1px #eceff1; padding: 15px 0;}
.productlist-bg .filtering-main .filtering-box h4 {display: block; margin: 0px 0 15px; font-size: 14px; color: #b0bec5; text-transform: uppercase;}
.productlist-bg .filtering-main .filtering-box .car-main {display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap;}
.productlist-bg .filtering-main .filtering-box .car-box {-webkit-box-flex: 0; -webkit-flex: 0 0 33.333333%; -ms-flex: 0 0 33.333333%; flex: 0 0 33.333333%; max-width: 33.333333%; position: relative;}
.productlist-bg .filtering-main .filtering-box .car-main .car-box input {position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; display: none;}
.productlist-bg .filtering-main .filtering-box .car-main .car-box input + label {display: block; border: solid 1px rgba(0, 0, 0, 0); margin: 5px; padding: 8px; cursor: pointer;}
.productlist-bg .filtering-main .filtering-box .car-main .car-box input + label .car-icon {display: block; height: 26px; background: url(../images/car-icon.png) 50% 50% no-repeat; margin-bottom: 8px;}
.productlist-bg .filtering-main .filtering-box .car-main .car-box input + label span {display: block; text-align: center; font-size: 11px; color: #607d8b; line-height: 1;}
.productlist-bg .filtering-main .filtering-box .car-main .car-box input:checked + label {border: solid 1px #03a9f4;}
.productlist-bg .filtering-main .filtering-box .car-main .car-box input:checked + label .car-icon {background: url(../images/car-icon-act.png) 50% 50% no-repeat;}

.productlist-bg .filtering-main .filtering-box .btn.btn-link {font-size: 13px; color: #03a9f4; padding: 0; line-height: normal; margin-top: 0px; letter-spacing: 1px; font-weight: 500;}
.productlist-bg .filtering-main .filtering-box .btn.btn-link span {padding: 0 5px;}

.productlist-bg .filtering-main .filtering-box .tags-main {padding: 0px; margin: 0px; list-style: none;}
.productlist-bg .filtering-main .filtering-box .tags-main li {display: inline-block; width: auto; margin: 0 6px 0 0;}
.productlist-bg .filtering-main .filtering-box .tags-main li a {display: block; background: #b0bec5; border-radius: 20px; font-size: 13px; color: #fff; padding: 8px; line-height: 16px; text-decoration: none;}
.productlist-bg .filtering-main .filtering-box .tags-main li a span {width: 16px; height: 16px; float: right; background: #fff; border-radius: 50%; color: #b0bec5; text-align: center; line-height: 14px; margin: 0 0 0 10px;}
.productlist-bg .filtering-main .filtering-box .tags-main li.active a {background: #03a9f4;}
.productlist-bg .filtering-main .filtering-box .tags-main li.active a span {color: #03a9f4;}

.productlist-bg .filtering-main .filtering-box .form-group {margin: 0;}
.productlist-bg .filtering-main .filtering-box .form-group label {display: block; font-size: 14px; color: #00c853; margin: 0 0 8px 0;}
.productlist-bg .filtering-main .filtering-box .form-group.blue label {color: #03a9f4;}
.productlist-bg .filtering-main .filtering-box .form-group .slider.slider-horizontal {width: 100%; height: 22px;}
.productlist-bg .filtering-main .filtering-box .form-group .slider.slider-horizontal .slider-track {height: 2px; margin-top: -10px; background:#eceff1; box-shadow:0 0 0 transparent;}
.productlist-bg .filtering-main .filtering-box .form-group .slider.slider-horizontal .slider-track .slider-selection {box-shadow:0 0 0 transparent;}
.productlist-bg .filtering-main .filtering-box .form-group .slider.slider-horizontal .slider-handle {margin-top:-9px; width: 22px; height: 22px;}
.productlist-bg .filtering-main .filtering-box .form-group .slider.slider-horizontal .slider-track {height: 2px; margin-top: -10px; box-shadow:0 0 0 transparent; background:#eceff1;}

.productlist-bg .filtering-main .filtering-box .form-group.green .slider.slider-horizontal .slider-handle {background:#00c853;}
.productlist-bg .filtering-main .filtering-box .form-group.green .slider.slider-horizontal .slider-track .slider-selection {background:#00c853;}

.productlist-bg .filtering-main .filtering-box .form-group.blue .slider.slider-horizontal .slider-track .slider-selection {background:#03a9f4;}
.productlist-bg .filtering-main .filtering-box .form-group.blue .slider.slider-horizontal .slider-handle {background:#03a9f4;}

.productlist-bg .filtering-main .filtering-box .colors-main {display: block;}
.productlist-bg .filtering-main .filtering-box .colors-main .color-box {display: inline-block; width: 36px; height: 36px; margin: 10px 9%;}
.productlist-bg .filtering-main .filtering-box .colors-main .color-box:first-child {margin-left: 0;}
.productlist-bg .filtering-main .filtering-box .colors-main .color-box:nth-child(4n+4) {margin-right: 0;}
.productlist-bg .filtering-main .filtering-box .colors-main .color-box:nth-child(5n+5) {margin-left: 0;}

.productlist-bg .filtering-main .filtering-box .colors-main .color-box input[type="radio"] {display: none;}
.productlist-bg .filtering-main .filtering-box .colors-main .color-box input[type="radio"] + label {display: block; width: 36px; height: 36px; border-radius: 50%; background: #333333; border: solid 2px transparent; cursor: pointer;}
.productlist-bg .filtering-main .filtering-box .colors-main .color-box input[type="radio"] + label.grey {background: #757575;}
.productlist-bg .filtering-main .filtering-box .colors-main .color-box input[type="radio"] + label.grey-light {background: #b3b3b3;}
.productlist-bg .filtering-main .filtering-box .colors-main .color-box input[type="radio"] + label.white {background: #f0f0f0;}
.productlist-bg .filtering-main .filtering-box .colors-main .color-box input[type="radio"] + label.red {background: #f44336;}
.productlist-bg .filtering-main .filtering-box .colors-main .color-box input[type="radio"] + label.blue {background: #137fd4;}
.productlist-bg .filtering-main .filtering-box .colors-main .color-box input[type="radio"] + label.orange {background: #d2af69;}
.productlist-bg .filtering-main .filtering-box .colors-main .color-box input[type="radio"]:checked + label {border: solid 2px #03a9f4;}


.productlist-bg .filtering-main .filtering-box .btn-secondary {background: none; border-radius: 0px; box-shadow: 0 0 0 transparent; font-size: 14px; text-transform: uppercase; color: #607d8b; padding: 0.8rem 3rem; text-align: left;}
.productlist-bg .filtering-main .filtering-box .btn-secondary.active {border-color: #03a9f4; color: #03a9f4;}

.productlist-bg .filtering-main .filtering-box .btn-secondary.btn-transm {width: 49%; opacity: 0.5; background: none; border-radius: 0px; box-shadow: 0 0 0 transparent; font-size: 14px; text-transform: uppercase; color: #607d8b; padding: 0.8rem 1rem;}
.productlist-bg .filtering-main .filtering-box .btn-secondary.btn-transm.active {opacity: 1;}


.productlist-bg .list-main {margin: 20px 0px;}
.productlist-bg .list-main .matche {font-size: 14px; color: #607d8b; line-height: 1;}
.productlist-bg .list-main .select2 {text-transform: uppercase; position: relative;}
.productlist-bg .list-main .select2:before {content: "\f107"; font-family: FontAwesome; position: absolute; right: 0; top: -2px;}
.productlist-bg .list-main .select2 label {margin:0px; font-size: 14px; color: #607d8b; line-height: 1;}
.productlist-bg .list-main .select2 .form-control {font-size: 14px; color: #607d8b; line-height: 1; text-transform: uppercase; border: 0px; border-radius: 0px; background: none; padding: 0px 10px 0 0; height: auto; float: right; width: auto;}

.productlist-bg .list-main .list-box {float: left; width: 100%; position: relative; background: #fff; margin: 0 0 15px 0;}
.productlist-bg .list-main .list-box .img {float: left; width: 100%; position: relative;}
.productlist-bg .list-main .list-box .img img {width: 100%; display: block;height: 100%;min-height: 230px;}
.productlist-bg .list-main .list-box .img .wishlist-icon {position: absolute; right: 8px; bottom: 8px; color: #c2beba; font-size: 14px;}
.productlist-bg .list-main .list-box h5 {float: left; width: 100%; font-size: 14px; color: #b0bec5; padding: 10px 15px 0px;}
.productlist-bg .list-main .list-box h5 span {float: right;}
.productlist-bg .list-main .list-box h4 {float: left; width: 100%; font-size: 14px; color: #b0bec5; padding: 0 15px 10px; margin: 0px;}
.productlist-bg .list-main .list-box h4 span.price {font-size: 36px; color: #00c853;}
.productlist-bg .list-main .list-box h4 span.title {display: block; font-size: 14px; color: #37474f; font-weight: 500; line-height: 1.7;}
.productlist-bg .list-main .results {display: block; font-size: 14px; color: #b0bec5; font-weight: 400; line-height: 2.5; text-transform: uppercase;}
.price-range .input-range__track--active {background: #00c853;}
.price-range .input-range__slider {    background: #00c853; border: 6px solid #00c853;}
.price-range span.input-range__label-container {color: #00c853;}
.mileage-range .input-range__track--active {background:#03a9f4}
.mileage-range .input-range__slider {    background: #03a9f4; border: 6px solid #03a9f4;}
.mileage-range span.input-range__label-container {color: #03a9f4;}
.year-range .input-range__track--active {background:#03a9f4}
.year-range .input-range__slider {    background: #03a9f4; border: 6px solid #03a9f4;}
.year-range span.input-range__label-container {color: #03a9f4;}

.input-range {width: 90%;margin: 0 auto;}
.input-range__label--max span.input-range__label-container {left: 0;}
.input-range__slider-container:last-child span.input-range__label-container {left: -100%;}
.productlist-bg .filtering-main .filtering-box {padding: 15px 0 30px 0;}  
.productlist-bg .filtering-main .filtering-box .btn-secondary.btn-transm {width: 48%;text-align: center;}
.productlist-bg .filtering-main .filtering-box .btn-secondary.btn-transm:nth-child(2) {margin-right: 4%;}
.productlist-bg .filtering-main .filtering-box .btn-secondary.btn-transm label {margin-bottom: 0;}
.productlist-bg .filtering-main .filtering-box .colors-main .color-box:last-child {margin: 10px 0;}
.productlist-bg .filtering-main .filtering-box .colors-main .color-box input[type="radio"] + label.brown {background: #A52A2A;}


/* product details */

.productdetails-bg {float: left; width: 100%; background: #eceff1; padding: 25px 0 80px 0;}
.productdetails-bg .details-box {float: left; width: 100%; background: #fff; padding: 18px;}
.productdetails-bg .details-box .left, .productdetails-bg .details-box .save, .productdetails-bg .details-box .right {float: left; width: 33.33%;}

.productdetails-bg .details-box .left span {font-size: 14px; color: #b0bec5;}
.productdetails-bg .details-box .left h4 {font-size: 24px; color: #607d8b; margin: 0px;}
.productdetails-bg .details-box .left h4 span {color: #37474f; font-size: 24px; padding: 0 7px;}

.productdetails-bg .details-box .save {text-align: center; padding: 10px 0px;}
.productdetails-bg .details-box .save .icon {display: block; margin-bottom: 4px;}
.productdetails-bg .details-box .save .icon img {display: inline-block;}
.productdetails-bg .details-box .save h5 {display:block; font-size: 14px; color: #b0bec5; margin: 0px;}

.productdetails-bg .details-box .right {text-align: right;}
.productdetails-bg .details-box .right span {font-size: 14px; color: #b0bec5;}
.productdetails-bg .details-box .right h3 {font-size: 36px; color: #00c853; line-height: 1; margin: 0px;}


.productdetails-bg .product-slider {float: left; width: 100%; position: relative; background:#fff; margin-bottom: 25px; height: 610px;}
.productdetails-bg .product-slider .fullscreen-icon {position: absolute; right: 15px; top: 15px; width: 28px; height: 28px; background: url(../images/fullscreen-icon.png) 0 0 no-repeat; z-index: 9; cursor: pointer;}
.productdetails-bg .product-slider .fullscreen-close {position: fixed; right: 20px; top: 20px; width: 28px; height: 28px; background: url(../images/fullscreen-icon.png) 0 0 no-repeat; z-index: 99999; cursor: pointer; display: none;}
.productdetails-bg .product-slider .fullscreen-close.open {display: block;}

.productdetails-bg .product-slider .carousel.slide {float: left; width: 100%;}
.productdetails-bg .product-slider .carousel.slide .carousel-inner {float: left; width: 100%;}
.productdetails-bg .product-slider .carousel.slide .carousel-inner .carousel-item {float: left; width: 100%;height: 500px;}
.productdetails-bg .product-slider .carousel.slide .carousel-inner .carousel-item img {width: 100%; display: block;}
.productdetails-bg .product-slider .carousel.slide .carousel-inner .carousel-item iframe {width: 100%; display: block;}


.productdetails-bg .product-slider .carousel.slide .carousel-inner .carousel-control{position: absolute;top: 50%;padding: 0 !important;color: #fff;}
.productdetails-bg .product-slider .carousel.slide .carousel-inner .carousel-control.left{left: 10px;} 
.productdetails-bg .product-slider .carousel.slide .carousel-inner .carousel-control.right{right: 10px;} 

#productSlider.fullscreen {position: fixed; top: 0px; left: 0px; bottom: 0px; right: 0px; z-index: 9999;}
#productSlider.fullscreen.carousel.slide .carousel-inner .carousel-item,#productSlider.fullscreen.carousel.slide .carousel-inner .carousel-item img{height: 100%;}
#productSlider.fullscreen.carousel.slide .carousel-inner .carousel-item iframe{height: 100vh;}

#productSlider .list-inline {white-space:nowrap;}
#productSlider .carousel-indicators {position: absolute; left: 0;bottom: 0;width: 100%;margin: 0 auto;overflow-x: scroll;}
#productSlider .carousel-indicators > li {float:left;max-width: 100px; height: 75px; text-indent: initial;overflow: hidden;}
#productSlider .carousel-indicators > li img{height: 100%;}
#productSlider .carousel-indicators > li.active img {opacity: 0.7;}


.productdetails-bg .specs-details {float: left; width: 100%; background: #fff; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.06); margin: 0 0 25px 0;}
.productdetails-bg .specs-details h3 {float: left; width: 100%; font-size: 24px; color: #607d8b; padding: 30px 18px; line-height: 1; font-weight: 500; border-bottom: solid 2px #02bcf7; margin: 0px;}
.productdetails-bg .specs-details .specs-details-main {float: left; width: 100%; padding: 30px 32px;}
.productdetails-bg .specs-details .spotlight-box {float: left; width: 100%; background: #f2f2f2; padding: 20px 0px; margin-bottom: 36px;}
.productdetails-bg .specs-details .spotlight-box .img {float: left; width: 25%; padding: 12px 0 0 28px;}
.productdetails-bg .specs-details .spotlight-box .img img {display: block;}
.productdetails-bg .specs-details .spotlight-box .mpg-details {float: left; width: 25%;}
.productdetails-bg .specs-details .spotlight-box .mpg-details h5 {width: 50%; font-size: 14px; text-transform: uppercase; color: #607d8b; margin: 0px; text-align: center;}
.productdetails-bg .specs-details .spotlight-box .mpg-details .city {float: left; width: 25%; font-size: 36px; text-transform: uppercase; color: #607d8b; margin: 0px; text-align: center; line-height: 1.2; position: relative;}
.productdetails-bg .specs-details .spotlight-box .mpg-details .city:before {content: ''; position: absolute; right: 0px; top: 10px; background: #b0bec5; width: 1px; bottom: 20px;}
.productdetails-bg .specs-details .spotlight-box .mpg-details .city:last-child:before {display: none;}
.productdetails-bg .specs-details .spotlight-box .mpg-details .city span {float: left; width: 100%; font-size: 14px; text-transform: uppercase; color: #b0bec5;}
.productdetails-bg .specs-details .spotlight-box .transmission {float: left; width: 25%; padding-top: 5px;}
.productdetails-bg .specs-details .spotlight-box .transmission h5 {float: left; width:auto; font-size: 14px; text-transform: uppercase; color: #607d8b; margin: 0px; line-height: 1;}
.productdetails-bg .specs-details .spotlight-box .transmission span {float: left; width:100%; font-size: 36px; text-transform: uppercase; color: #607d8b; margin: 0px; line-height: 1; padding: 10px 0px;}

.productdetails-bg .specs-details .basics-main {float: left; width:100%;}
.productdetails-bg .specs-details .basics-main .basics-left {float: left; width:50%; padding-right: 15px;}
.productdetails-bg .specs-details .basics-main .basics-left h5 {float: left; width:100%; font-size: 14px; color: #37474f; font-weight: 400; margin-bottom: 15px;}
.productdetails-bg .specs-details .basics-main .basics-left .table-striped tbody tr:nth-of-type(2n+1) {background: #ffffff;}
.productdetails-bg .specs-details .basics-main .basics-left .table-striped tbody tr {background: #f2f2f2;}
.productdetails-bg .specs-details .basics-main .basics-left .table td {border: 0px; font-size: 14px; color: #607d8b;}
.productdetails-bg .specs-details .basics-main .basics-left .table td + td {color: #37474f;}

.productdetails-bg .specs-details .basics-main .advanded-right {float: left; width:50%; -webkit-column-count: 2; -moz-column-count: 2; column-count: 2;}
.productdetails-bg .specs-details .basics-main .advanded-right .advanded-box {border: 0px; border-radius: 0px; padding: 0 15px 25px; margin: 0px;}
.productdetails-bg .specs-details .basics-main .advanded-right .advanded-box h6 {float: left; width:100%; margin: 0px 0 10px 0; font-size: 14px; color: #37474f; text-transform: uppercase; font-weight: 400;}
.productdetails-bg .specs-details .basics-main .advanded-right .advanded-box ul {float: left; width:100%; margin: 0px; padding: 0px; list-style: none;}
.productdetails-bg .specs-details .basics-main .advanded-right .advanded-box ul li {float: left; width:100%; margin: 0px; padding: 0px;}
.productdetails-bg .specs-details .basics-main .advanded-right .advanded-box ul li a {display: block; font-size: 14px; color: #607d8b;}



.productdetails-bg .conciergecta-bg {float: left; width: 100%; text-align: center; background: rgb(3,169,244); background: -moz-linear-gradient(left, rgba(3,169,244,1) 0%, rgba(0,229,255,1) 100%); background: -webkit-linear-gradient(left, rgba(3,169,244,1) 0%,rgba(0,229,255,1) 100%); background: linear-gradient(to right, rgba(3,169,244,1) 0%,rgba(0,229,255,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03a9f4', endColorstr='#00e5ff',GradientType=1 ); padding: 30px 0px; margin: 0 0 25px 0;}
.productdetails-bg .conciergecta-bg h4 {float: left; width: 100%; margin: 0; font-size: 24px; color: #fff; font-weight: 500; line-height: 1;}
.productdetails-bg .conciergecta-bg p {float: left; width: 100%; margin: 15px 0 25px; font-size: 18px; color: #fff; font-weight: 400; line-height: 1;}
.productdetails-bg .conciergecta-bg .btn.btn-info {background: #43f7c8; font-size: 14px; color: #37474f; font-weight: 500; border: 0px; border-radius: 0px; text-transform: uppercase; padding: 12px 40px;}


.productdetails-bg .financingcta-bg {float: left; width: 100%; text-align: center; background: rgb(0,200,83); background: -moz-linear-gradient(left, rgba(0,200,83,1) 0%, rgba(67,247,200,1) 100%); background: -webkit-linear-gradient(left, rgba(0,200,83,1) 0%,rgba(67,247,200,1) 100%); background: linear-gradient(to right, rgba(0,200,83,1) 0%,rgba(67,247,200,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c853', endColorstr='#43f7c8',GradientType=1 ); padding: 30px 0px; margin: 0 0 25px 0;}
.productdetails-bg .financingcta-bg h4 {float: left; width: 100%; margin: 0; font-size: 24px; color: #fff; font-weight: 500; line-height: 1;}
.productdetails-bg .financingcta-bg p {float: left; width: 100%; margin: 15px 0 25px; font-size: 18px; color: #fff; font-weight: 400; line-height: 1;}
.productdetails-bg .financingcta-bg .btn.btn-primary {background: #03a9f4; font-size: 14px; color: #fff; font-weight: 500; border: 0px; border-radius: 0px; text-transform: uppercase; padding: 12px 40px;}
.productdetails-bg .product-slider .carousel.slide .carousel-inner .carousel-item {height: 700px;}
.p-limit-radio {position: relative;}
.p-limit-radio  [type="radio"]{position: absolute;left: 0px;right: 0px;top: 0px;bottom: 0px;width: 100%;height: 100%;opacity: 0;cursor: pointer;}
.p-limit-radio a.btn.btn-success{display: block;border: solid 1px rgba(0, 0, 0, 0);margin: 0 5px 10px 5px;padding: 8px;cursor: pointer;}
.p-limit-radio input[type="radio"] + lable {display: block;border: solid 1px rgba(0, 0, 0, 0);margin: 0 5px 10px 5px;padding: 8px;cursor: pointer;touch-action: manipulation;}
.p-limit-radio input[type="radio"]:checked + lable {border-color: #00c853 !important;color: #00c853 !important;}
.Modal-modal-0-1-3{  margin-top:100px;  width: 30%;}
.Modal-modal-0-1-3 label.control-label h6 {font-size: 13px !important;margin-bottom: 0;color: #37474f;font-weight: 400;}
.Modal-modal-0-1-3 button#contact-form-button {font-size: 14px;color: #fff;padding: 0 25px;line-height: 40px;margin-top: 10px;text-transform: uppercase;background: #03a9f4;border-radius: 0px;border: 0px;-webkit-box-shadow: 0 7px 15px rgba(3, 169, 244, 0.5);box-shadow: 0 7px 15px rgba(3, 169, 244, 0.5);letter-spacing: 1px;}
.Modal-modal-0-1-3 {width: 100%;}
.Modal-modal-0-1-3 form.form-horizontal .form-group {width: 50%;float: left;}
.Modal-modal-0-1-3 form.form-horizontal .form-group:nth-child(5),
.Modal-modal-0-1-3 form.form-horizontal .form-group:last-child {width: 100%;}
.Modal-modal-0-1-3 h2 {font-weight: 900;text-transform: uppercase;font-size: 20px;color: #03a9f4;padding-left: 15px;}

.c013{  margin-top:100px;  width: 100%;}
.c013 label.control-label h6 {font-size: 13px !important;margin-bottom: 0;color: #37474f;font-weight: 400;}
.c013 button#contact-form-button {font-size: 14px;color: #fff;padding: 0 25px;line-height: 40px;margin-top: 10px;text-transform: uppercase;background: #03a9f4;border-radius: 0px;border: 0px;-webkit-box-shadow: 0 7px 15px rgba(3, 169, 244, 0.5);box-shadow: 0 7px 15px rgba(3, 169, 244, 0.5);letter-spacing: 1px;}
.c013 form.form-horizontal .form-group {width: 50%;float: left;}
.c013 form.form-horizontal .form-group:nth-child(5),
.c013 form.form-horizontal .form-group:last-child {width: 100%;}
.c013 h2 {font-weight: 900;text-transform: uppercase;font-size: 20px;color: #03a9f4;padding-left: 15px;}




.findcar-bg .findcar-box .car-main .car-box input + label .car-icon.sedan{background:url('../images/sedan.png') 50% 50% no-repeat;}
.findcar-bg .findcar-box .car-main .car-box input:checked + label .car-icon.sedan{background:url('../images/sedan-blue.png') 50% 50% no-repeat;}
.findcar-bg .findcar-box .car-main .car-box input + label .car-icon.coupe{background:url('../images/coupe.png') 50% 50% no-repeat;}
.findcar-bg .findcar-box .car-main .car-box input:checked + label .car-icon.coupe{background:url('../images/coupe-blue.png') 50% 50% no-repeat;}
.findcar-bg .findcar-box .car-main .car-box input + label .car-icon.hatch-back{background:url('../images/hatch-back.png') 50% 50% no-repeat;}
.findcar-bg .findcar-box .car-main .car-box input:checked + label .car-icon.hatch-back{background:url('../images/hatch-back-blue.png') 50% 50% no-repeat;}
.findcar-bg .findcar-box .car-main .car-box input + label .car-icon.convertible{background:url('../images/convertible.png') 50% 50% no-repeat;}
.findcar-bg .findcar-box .car-main .car-box input:checked + label .car-icon.convertible{background:url('../images/convertible-blue.png') 50% 50% no-repeat;}
.findcar-bg .findcar-box .car-main .car-box input + label .car-icon.wagon{background:url('../images/wagon.png') 50% 50% no-repeat;}
.findcar-bg .findcar-box .car-main .car-box input:checked + label .car-icon.wagon{background:url('../images/wagon-blue.png') 50% 50% no-repeat;}
.findcar-bg .findcar-box .car-main .car-box input + label .car-icon.suv{background:url('../images/suv.png') 50% 50% no-repeat;}
.findcar-bg .findcar-box .car-main .car-box input:checked + label .car-icon.suv{background:url('../images/suv-blue.png') 50% 50% no-repeat;}
.findcar-bg .findcar-box .car-main .car-box input + label .car-icon.mini-van{background:url('../images/mini-van.png') 50% 50% no-repeat;}
.findcar-bg .findcar-box .car-main .car-box input:checked + label .car-icon.mini-van{background:url('../images/minivan-blue.png') 50% 50% no-repeat;}
.findcar-bg .findcar-box .car-main .car-box input + label .car-icon.truck{background:url('../images/truck.png') 50% 50% no-repeat;}
.findcar-bg .findcar-box .car-main .car-box input:checked + label .car-icon.truck{background:url('../images/truck-blue.png') 50% 50% no-repeat;}




.filtering-main .filtering-box .car-main .car-box input + label .car-icon.sedan{background:url('../images/sedan.png') 50% 50% no-repeat;}
.filtering-main .filtering-box .car-main .car-box input:checked + label .car-icon.sedan{background:url('../images/sedan-blue.png') 50% 50% no-repeat;}
.filtering-main .filtering-box .car-main .car-box input + label .car-icon.coupe{background:url('../images/coupe.png') 50% 50% no-repeat;}
.filtering-main .filtering-box .car-main .car-box input:checked + label .car-icon.coupe{background:url('../images/coupe-blue.png') 50% 50% no-repeat;}
.filtering-main .filtering-box .car-main .car-box input + label .car-icon.hatch-back{background:url('../images/hatch-back.png') 50% 50% no-repeat;}
.filtering-main .filtering-box .car-main .car-box input:checked + label .car-icon.hatch-back{background:url('../images/hatch-back-blue.png') 50% 50% no-repeat;}
.filtering-main .filtering-box .car-main .car-box input + label .car-icon.convertible{background:url('../images/convertible.png') 50% 50% no-repeat;}
.filtering-main .filtering-box .car-main .car-box input:checked + label .car-icon.convertible{background:url('../images/convertible-blue.png') 50% 50% no-repeat;}
.filtering-main .filtering-box .car-main .car-box input + label .car-icon.wagon{background:url('../images/wagon.png') 50% 50% no-repeat;}
.filtering-main .filtering-box .car-main .car-box input:checked + label .car-icon.wagon{background:url('../images/wagon-blue.png') 50% 50% no-repeat;}
.filtering-main .filtering-box .car-main .car-box input + label .car-icon.suv{background:url('../images/suv.png') 50% 50% no-repeat;}
.filtering-main .filtering-box .car-main .car-box input:checked + label .car-icon.suv{background:url('../images/suv-blue.png') 50% 50% no-repeat;}
.filtering-main .filtering-box .car-main .car-box input + label .car-icon.mini-van{background:url('../images/mini-van.png') 50% 50% no-repeat;}
.filtering-main .filtering-box .car-main .car-box input:checked + label .car-icon.mini-van{background:url('../images/minivan-blue.png') 50% 50% no-repeat;}
.filtering-main .filtering-box .car-main .car-box input + label .car-icon.truck{background:url('../images/truck.png') 50% 50% no-repeat;}
.filtering-main .filtering-box .car-main .car-box input:checked + label .car-icon.truck{background:url('../images/truck-blue.png') 50% 50% no-repeat;}

.loader-wapper {background: #fff;opacity: 0.7;filter: alpha(opacity=70);padding-top: 20%;position: absolute;top: 0px;left: 0px;text-align: center;vertical-align: middle;height: 100%;width: 100%;position: fixed;z-index: 500;}
.loader {border: 16px solid #f3f3f3;border-radius: 50%;border-top: 16px solid #03a9f4;width: 120px;height: 120px;-webkit-animation: spin 2s linear infinite;animation: spin 2s linear infinite;top: 40%;left: 50%;bottom: 50%;position: absolute;margin-left: -60px;margin-top: -60px;}
/* Safari */
.feedback-bg div#carouselExampleControls{min-height: 480px;}
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}


@media (max-width:990px){
    .productdetails-bg .specs-details .spotlight-box .transmission span , 
    .productdetails-bg .specs-details .spotlight-box .mpg-details .city
    {font-size: 22px;}
}

@media (max-width:768px){
.productdetails-bg .product-slider .carousel.slide .carousel-inner .carousel-item {
    height: 600px;
}
.productdetails-bg .specs-details .spotlight-box .mpg-details .city span {
   font-size: 11px;
}
}

@media (max-width:767px){
    .productdetails-bg .product-slider .carousel.slide .carousel-inner .carousel-item{
        height:500px;
    }
.productdetails-bg .specs-details .spotlight-box .transmission span, .productdetails-bg .specs-details .spotlight-box .mpg-details .city {
    font-size: 18px;
    }
.productdetails-bg .specs-details .spotlight-box .transmission h5{font-size: 11px;}
.productdetails-bg .specs-details .spotlight-box {text-align: center;}
	
.productdetails-bg .specs-details .spotlight-box .img , 
.productdetails-bg .specs-details .spotlight-box .mpg-details , 
.productdetails-bg .specs-details .spotlight-box .transmission
{width: 100%;float: none;display: inline-block;}
.productdetails-bg .specs-details .spotlight-box .transmission{padding-top: 20px;}
.productdetails-bg .specs-details .spotlight-box .mpg-details h5 , 
.productdetails-bg .specs-details .spotlight-box .transmission h5 {width: 100%;}
.productdetails-bg .specs-details .spotlight-box .mpg-details .city {
float: left;width: 50%;}
.productdetails-bg .specs-details .spotlight-box{padding: 0px 0px;}
.productdetails-bg .specs-details .basics-main .basics-left , .productdetails-bg .specs-details .basics-main .advanded-right{
    float: none;width: 100%;}
.productdetails-bg .specs-details .basics-main .basics-left{
width: 100%;margin-bottom: 15px;overflow-y: hidden;overflow-x: auto;}
.productdetails-bg .specs-details .specs-details-main {padding: 18px;}
.productdetails-bg .specs-details .basics-main .advanded-right .advanded-box{padding: 0 0px 25px}
}

@media (max-width:580px){
    .productdetails-bg .product-slider .carousel.slide .carousel-inner .carousel-item{
        height:320px;
    }
    .productdetails-bg .product-slider{height: initial;}
    .productdetails-bg .specs-details .basics-main .advanded-right {
    -webkit-column-count: 1;
    column-count: 1;
}
}

@media (max-width:320px){
.productdetails-bg .product-slider .carousel.slide .carousel-inner .carousel-item {
    height: 370px;
}
}
.notification-container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999999;
    width: 420px;
    padding: 0 15px;
    max-height: calc(100% - 50px);
    overflow-x: hidden;
    overflow-y: auto;
}
.productlist-bg .list-main .select2 .form-control {
    
    color: #0ba3ec !important;    
    margin-top: 3.5px !important;
}
.productlist-bg .list-main .results {    
    font-size: 16px !important;
    color: #06a9f4 !important;
   
}